{% extends 'admintemplates/adminbase.html' %}
{% block editor %}
nav-item active
{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary card-header-icon">
						<div class="card-icon">
							<i class="material-icons">assignment</i>
						</div>
						<div>
							<h3 style="color: #000000">add editor</h3>
							<br>


							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}

								{{form.as_p}}

								<input type="submit" value="Save">

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}