{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block new %}nav-item active{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary card-header-icon">
						<div class="card-icon">
							<i class="material-icons">assignment</i>
						</div>
						<div>
							<h4 style="color: #000000">Add NewsSubCategory</h4>
							<br>

							<form method="post" enctype="multipart/form-data" id ="EditorNewsForm" subcategories-url="{% url 'newsapp:load_subcategories' %}" novalidate>
								{% csrf_token %}

								{{form.as_p}}

								
								<!-- <input type="submit" value="Save"> -->
								<span style="padding-left: 35%"><button type="submit" style="width: 150px;height: 35px">save</button></span>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function() {
    $('#id_main_category').select2();

    
});
</script>

<script>
	$("#id_main_category").change(function () {
		// alert('1');
      var url = $("#EditorNewsForm").attr("subcategories-url");  
      var maincategory_id = $(this).val()
      // alert(maincategory_id); 
      $.ajax({                      
        url:url,                    
        data: {
          'main_category': maincategory_id       
        },
        
        success: function (data) {
          
          $("#id_sub_category").html(data);  
          
        }
    });

  });
</script>


{% endblock %}