{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            
            <h4 class="card-title">OrganizationInformation  Table</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
             <div>

             </div>
           </div>
           <h3>Name</h3>
           {{informationdetail.name}}
           <h3>Image</h3><img src={{organizationinformationdetail.logo.url}}>
           <h3>Address</h3>{{informationdetail.address}}
           <h3>Slogan</h3>{{informationdetail.slogan}}
           <h3>Contact Number</h3>{{informationdetail.contact_no}}
           <h3>Alternate Contact Number</h3>{{informationdetail.alt_contact_no}}
           <h3>Email</h3>{{informationdetail.email}}
           <h3>About_us</h3>{{informationdetail.about_us}}
           <h3>Privacy Policy</h3>{{informationdetail.privacy_policy}}

      </div>
    </div>
    <!-- end content-->
  </div>
  <!--  end card  -->
</div>
<!-- end col-md-12 -->
</div>
<!-- end row -->
</div>
</div>

{% endblock %}