{% extends "admintemplates/editorbase.html" %}
{% load static %}
{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary card-header-icon">
						<div class="card-icon">
							<i class="material-icons">assignment</i>
						</div>
						<h4 style="color: black">Change Password</h4>
					</div>
					<div class="card-body">
							{% if error %}
								<li>{{error}}</li>
							{% endif %}	

						<form method="post">
							{% csrf_token %}
							{{form.as_p}}
							<button>Change Password</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}